.square {
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: #7971ea;
}

.full-screen-square {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.transform-example-container {
  height: 100vh;
}
