:root {
  --primary-color: #4f3be5;
  --text-color: #19122c;
  --grey: #f6f6f8;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: var(--text-color);
}

.cardsExample label + label {
  margin-left: 1rem;
}
.cardsExample label:first-of-type {
  margin-left: 1rem;
}

.cardGrid {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 180px;
  grid-gap: 2rem;
  background-color: var(--grey);
  padding: 2rem;
  min-height: 100vh;
}

.header {
  padding: 0 0 0 2rem;
}

.header h1 {
  font-size: 1.6rem;
}

.gridItem {
  background-color: white;
  text-align: center;
  margin: 0;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 18px #0000000d;
  transition: box-shadow 0.3s;
}

.gridItem:hover {
  box-shadow: 0 0 35px #00000023;
}

.gridItem > div {
  width: 100%;
  height: 100%;
}

.gridItem > div:first-of-type {
  padding: 1rem;
  z-index: 1;
  position: relative;
}

.gridItemTitle {
  font-size: 1.2rem;
}

.gridItemAvatar {
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.gridItemBackground {
  position: absolute;
  height: 200%;
  top: 50%;
  bottom: 0;
  left: -100%;
  width: 300%;
  z-index: -1;
  background-color: var(--primary-color);
  opacity: 0.3;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gridItemFocused {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: relative;
}

.gridItemFocused > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItemFocusedClose {
  position: absolute;
  padding: 1rem 2rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 3rem;
  border: none;
  color: white;
}

.gridItemFocusedClose:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.focusedItemBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItemJob {
  font-size: 1rem;
  font-weight: normal;
}

.gridItemDescription {
  max-width: 40rem;
  margin: 0 auto;
  color: white;
  line-height: 1.6;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.gridItemFocused .gridItemBackground {
  top: 0%;
  opacity: 1;
}

.gridItemFocused .gridItemTitle {
  font-size: 3.2rem;
  color: white;
  margin-top: 0;
}

.gridItemFocused .gridItemAvatar {
  width: 12rem;
  height: 12rem;
  background: #5c657b;
}

.gridItemFocused .gridItemJob {
  font-size: 1.8rem;
  color: white;
}
