body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #333366;
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 180px;
    grid-gap: 1rem;
    background-color: #404b69;
    padding: 1rem;
    min-height: 100vh;
}

.gridItem {
    background-color: white;
    text-align: center;
    margin: 0;
    cursor: pointer;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
    border-radius: 3px;
}

.gridItem>div:first-of-type {
    padding: 1rem;
    position: relative;
    z-index: 1;
    background: #bada55;
    width: 100%;
}


.gridItemTitle {
    font-size: 1.2rem;
}

.gridItemAvatar {
    border-radius: 100px;
    width: 3rem;
    height: 3rem;
    transform-origin: 0 0;
    background-color: #5c657b;
    margin: 0 auto;
}

.gridItemBackground {
    position: absolute;
    height: 200%;
    top: 50%;
    bottom: 0;
    left: -100%;
    width: 300%;
    z-index: 0;
}

.gridItemFocused {
    width: 1000px;
    height: 1000px;
    max-width: 35rem;
    max-height: 35rem;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
}

.gridItemFocusedClose {
    position: absolute;
    padding: 1rem 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 3rem;
    border: none;
}

.gridItemFocusedClose:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.focusedItemBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridItemJob {
    font-size: 1rem;
}

.gridItemDescription {
    max-width: 30rem;
    margin: 0 auto;
}

.gridItemFocused .gridItemBackground {
    top:0%;
}

.gridItemFocused .gridItemTitle {
    font-size: 2.5rem;
    margin-top: 5rem;
}

.gridItemFocused .gridItemAvatar {
    width: 12rem;
    height: 12rem;
    background: #5c657b;
}

.gridItemFocused .gridItemJob {
    font-size: 2rem;
}
